<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="triangle" class="io.javabrains.learningspringcore.chapters09.Triangle"
		name="traingle-name">
		<property name="points">
			<list>
				<ref bean="zeroPoint" />
				<ref bean="point2" />
				<ref bean="point3" />
			</list>
		</property>
	</bean>

	<bean id="zeroPoint" class="io.javabrains.learningspringcore.chapters09.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="point2" class="io.javabrains.learningspringcore.chapters09.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	<bean id="point3" class="io.javabrains.learningspringcore.chapters09.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

</beans>